@media screen and (max-device-width: 480px) {
    .body{
        background-color: rgb(199, 180, 199);
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }    
    .head1{
        background-color: whitesmoke;
        margin: 0px;
        border: 1px solid rgb(199, 180, 199);
    }
    .heading{
        text-align: center;
        font-style: oblique;
        color:  rgb(199, 180, 199);
    }
    .head2{
        list-style: none;
        float: left;
        background-color: rgb(187, 147, 190);
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
    .l1{
        float: left;
        text-align: center;
        font-size: 10px;
        margin-left: 15px;
        padding-left: 10px;
        margin-right: 15px;
        padding-right: 10px;
        color: purple;
        font-style: italic;
    }
    .a1{
        text-decoration: none;
        text-align: center;
    }
    .intro{
        width: 100%;
        height: 100%;
        background-color: rgba(128, 0, 128, 0.075);
    }

    .pic1{
        padding-top: 10px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: rgba(128, 0, 128, 0);
    }
    .h2{
        line-height: 0.2rem;
        color: rgb(124, 43, 124);
        text-align: center;
    }
    .hm{
        line-height: 0.9rem;
        text-align: center;
        font-size: 25px;
        color: purple;
        font-weight: bolder;
    }
    .h3{
        line-height: 0.2rem;
        text-align: center;
        color: rgb(124, 43, 124);
    }

    .about{
        text-align: center;
        font-size: 25px;
        font-weight: 25px;
        background-color: rgba(137, 43, 226, 0.342);
    }

    .contact{
        text-align: center;
        font-size: 25px;
        font-weight: 25px;
        background-color: rgba(137, 43, 226, 0.342);
    }

    .projects{
        text-align: center;
        font-size: 25px;
        font-weight: 25px;
        background-color: rgba(137, 43, 226, 0.342);
    }
    .txt1{
        text-align: center;
    }
}